
  <div class="container">
  

  <form [formGroup]="formularioAltaProveedor" >
    <h3>Registro  de nuevo Proveedor</h3>
    

    
    <div class="mb-3">
      <label for="txtNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="txtNombre"  formControlName="nombre" />
     
      <span *ngIf="formularioAltaProveedor.get('nombre')?.touched 
         && formularioAltaProveedor.get('nombre')?.hasError('pattern')">
        * campo requerido,  solo puede ingresar letras y/o espacios
      </span>

   
    </div>

    <div class="mb-3">
      <label for="txtCuit" class="form-label">Cuit</label>
      <input type="text" class="form-control" id="txtCuit" name="cuit" formControlName="cuit" />
      
      <span *ngIf="formularioAltaProveedor.get('cuit')?.touched 
        && formularioAltaProveedor.get('cuit')?.hasError('pattern')">
        * campo requerido y solo numerico de 11 digitos
      </span>

    </div>

    <div class="mb-3">
      <label for="txtTelefono" class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="txtTelefono" name="telefono" formControlName="telefono"  />

      <span *ngIf="formularioAltaProveedor.get('telefono')?.touched 
        && formularioAltaProveedor.get('telefono')?.hasError('pattern')">
        * campo requerido  y solo numérico de 7 digitos
      </span>

    </div>

<!-- 
    <div class="mb-3">
    <label for="txtTelefono" class="form-label">Seleccione País</label>
    <select class="form-select" name="pais" formControlName="pais" >
         <option value="1">Argentina</option>
        <option value="2">Uruguay</option>
        <option value="3">Brasil</option>
      </select>
    </div> -->

    <div class="mb-3">
        <label for="txtDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="txtDireccion" name="direccion" formControlName="direccion"/>

        <span *ngIf="formularioAltaProveedor.get('direccion')?.touched &&
        formularioAltaProveedor.get('direccion')?.hasError('pattern')">
         * campo requerido digitos y letras solamente
       </span>

      </div>

      <div class="mb-3">
        <label for="txtCodigoPostal" class="form-label">Código Postal</label>
        <input type="text" class="form-control" id="txtCodigoPostal" name="codigo_postal" formControlName="codigo_postal" />

        <span *ngIf="formularioAltaProveedor.get('codigo_postal')?.touched 
        && formularioAltaProveedor.get('codigo_postal')?.hasError('pattern')">
         * campo requerido solo 4 dígitos
       </span>

      </div>

      <div class="mb-3">
        <label for="txtCorreo" class="form-label">Correo electrónico  </label>
        <input type="text" class="form-control" id="txtCorreo" name="email" formControlName="email" />

        <span *ngIf="formularioAltaProveedor.get('email')?.touched &&
        formularioAltaProveedor.get('email')?.hasError('email')">
         * campo requerido formato email
       </span>

      </div>

      





    
    <button type="button" class="btn btn-primary"  (click)="guardar()" [disabled]="formularioAltaProveedor.invalid" >Guardar</button>
    <button type="button" class="btn btn-warning" (click)="volver()">Volver</button>

    </form>
</div>


