
  <div class="container">
  

  <form [formGroup]="formularioAltaProveedor" >
    <h2 class="text-center">Agregar Nuevo Proveedor</h2>
    

  <div class="row">    
    <div class="col-md-6">
      <label for="txtNombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="txtNombre"  formControlName="nombre" />
     
      <span *ngIf="formularioAltaProveedor.get('nombre')?.touched 
         && formularioAltaProveedor.get('nombre')?.hasError('pattern', 'required')">
        * Campo requerido,  solo puede ingresar letras y/o espacios
      </span>
    </div>

    <div class="col-md-6">
      <label for="txtCuit" class="form-label">Cuit</label>
      <input type="number" class="form-control" id="txtCuit" name="cuit" formControlName="cuit" />
      
      <span *ngIf="getNombre.errors?.['nombreExists']" >Cuit ya usado, intente con otro</span>

      <!-- <span *ngIf="formularioAltaProveedor.get('cuit')?.touched 
        && formularioAltaProveedor.get('cuit')?.hasError('pattern')">
        * campo requerido y solo numerico de 11 digitos
      </span> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="txtTelefono" class="form-label">Teléfono</label>
      <input type="number" class="form-control" id="txtTelefono" name="telefono" formControlName="telefono"  />

      <span *ngIf="formularioAltaProveedor.get('telefono')?.touched 
        && formularioAltaProveedor.get('telefono')?.hasError('pattern')">
        * Campo requerido  y solo numérico de 7 digitos
      </span>
    </div>


    <div class="col-md-6">
        <label for="txtDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="txtDireccion" name="direccion" formControlName="direccion"/>

        <span *ngIf="formularioAltaProveedor.get('direccion')?.touched &&
        formularioAltaProveedor.get('direccion')?.hasError('pattern')">
         * Campo requerido dígitos y letras solamente
       </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="txtCodigoPostal" class="form-label">Código Postal</label>
        <input type="number" class="form-control" id="txtCodigoPostal" name="codigo_postal" formControlName="codigo_postal" />

        <span *ngIf="formularioAltaProveedor.get('codigo_postal')?.touched 
        && formularioAltaProveedor.get('codigo_postal')?.hasError('pattern')">
         * Campo requerido solo 4 dígitos
       </span>
      </div>

      <div class="col-md-6">
        <label for="txtCorreo" class="form-label">Correo electrónico  </label>
        <input type="email" class="form-control" id="txtCorreo" name="email" formControlName="email" />

        <span *ngIf="formularioAltaProveedor.get('email')?.touched &&
        formularioAltaProveedor.get('email')?.hasError('email')">
         * Campo requerido formato email
       </span>
      </div>
    </div>
  <br>
  <div class="container text-end"  >
    <button type="button" class="btn btn-primary me-3"  (click)="guardar()" [disabled]="formularioAltaProveedor.invalid" >Guardar</button>
    <button type="button" class="btn btn-warning" (click)="volver()">Volver</button>
  </div>
  </form>
</div>


