<div class="container">

    <h2>Gestión de Ofertas</h2>

    <form class="form-control">
        <input type="search"  class="form-control" placeholder="Buscar oferta" aria-label="Search" />  
        <button type="button" (click)="buscarOfertaPorNombre()" >buscar</button>
    </form>



    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Puntos</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listadoOfertas">
              <td>{{ item.descripcion }}</td>
              <td>{{ item.precio }}</td>
              <td>{{ item.puntos }}</td>
              <td>{{ item.fecha_inicio }}</td>
              <td>{{ item.fecha_fin }}</td>

              <td>
                <button type="button" class="btn btn-outline-success" >Editar</button>
                <button type="button" class="btn btn-outline-danger" (click)="borrar(item)" >Eliminar</button>       
              </td>
            </tr>
          </tbody>
        </table>
</div>


<div class="container">
  <form>
    <div class="mb-3">
      <label for="txtDescripcion" class="form-label">Descripcionn</label>
      <input type="text" class="form-control" id="txtDescripcion" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="txtPrecio" class="form-label">Precio</label>
      <input type="text" class="form-control" id="txtPrecio">
    </div>

    <div class="mb-3">
      <label for="txtPuntos" class="form-label">Puntos</label>
      <input type="text" class="form-control" id="txtPuntos">
    </div>

    <div class="mb-3">
      <label for="txtFechaInicio" class="form-label">Fecha Inicio</label>
      <input type="text" class="form-control" id="txtFechaInicio">
    </div>

    <div class="mb-3">
      <label for="txtFechaFin" class="form-label">Fecha Fin</label>
      <input type="text" class="form-control" id="txtFechaFin">
    </div>


    <button type="button" class="btn btn-primary">Modificar</button>
  </form>
</div>
