<div class="container">

    <h2>Gestión de Ofertas</h2>

<!-- =================== BUSCAR =============== -->

<form>
  <div class="mb-3">
    <input type="text" class="form-control" id="txtProveedor" name="nombreBuscado" [(ngModel)]="valorBuscado">
  </div>

  <button type="button" (click)="buscarOfertaPorNombre()" class="btn btn-primary">buscar</button>
</form>


<!-- =================== LISTADO OFERTAS ================ -->
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Codigo Producto</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Cantidad Puntos</th>
              <th scope="col">Beneficio</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let item of listadoOfertasBuscadas" >
              <td>{{ item.codigo_producto }}</td>
              <td>{{ item.descripcion }}</td>
              <td>{{ item.cantidad_puntos }}</td>
              <td>{{ item.beneficio }}</td>
              <td>{{ item.fecha_inicio }}</td>
              <td>{{ item.fecha_fin }}</td>

              <td>
                <button type="button" class="btn btn-outline-success" (click)="elegidoParaEditar(item)" >Editar</button>
                <button type="button" class="btn btn-outline-danger" (click)="borrar(item)" >Eliminar</button>       
              </td>
            </tr>
          </tbody>
        </table>
</div>



<!-- ================ FORMULARIO MODIFICAR ================ -->

<div class="container"  *ngIf="banderaFormularioEdicion">
  <form>

    <div class="mb-3">
      <label for="txtDescripcion" class="form-label">Codigo Producto</label>
      <input type="text" class="form-control" id="txtDescripcion" name="codigo_producto" [(ngModel)]="ofertaBuscada.codigo_producto">
    </div>

    <div class="mb-3">
      <label for="txtDescripcion" class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="txtDescripcion" name="descripcion" [(ngModel)]="ofertaBuscada.descripcion">
    </div>

    <div class="mb-3">
      <label for="txtPrecio" class="form-label">Cantidad Puntos</label>
      <input type="text" class="form-control" id="txtPrecio" name="precio" [(ngModel)]="ofertaBuscada.cantidad_puntos">
    </div>

    <div class="mb-3">
      <label for="txtPuntos" class="form-label">Beneficio</label>
      <input type="text" class="form-control" id="txtPuntos" name="beneficio" [(ngModel)]="ofertaBuscada.beneficio" >
    </div>

    <div class="mb-3">
      <label for="txtFechaInicio" class="form-label">Fecha Inicio</label>
      <input type="text" class="form-control" id="txtFechaInicio" name="fecha_inicio" [(ngModel)]="ofertaBuscada.fecha_inicio">
    </div>

    <div class="mb-3">
      <label for="txtFechaFin" class="form-label">Fecha Fin</label>
      <input type="text" class="form-control" id="txtFechaFin" name="fecha_fin" [(ngModel)]="ofertaBuscada.fecha_fin">
    </div>


    <button type="button" class="btn btn-primary" (click)="modificarDesdeFormulario()" >Modificar</button>
  </form>
</div>
