<div class="container">

    <h2>Gestión de Ofertas</h2>

    <form class="form-control">
        <input  class="form-control"  type="search"  placeholder="Buscar oferta" aria-label="Search" [formControl]="valorBuscarProveedor" [(ngModel)]="valorBusqueda" />  
     
        
        <button type="button" (click)="buscarOfertaPorNombre()" >buscar</button>
    </form>



    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Descripcion</th>
              <th scope="col">Precio</th>
              <th scope="col">Puntos</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listadoOfertas | filter: valorBusqueda">
              <td>{{ item.decripcion }}</td>
              <td>{{ item.precio }}</td>
              <td>{{ item.puntos }}</td>
              <td>{{ item.fecha_inicio }}</td>
              <td>{{ item.fecha_fin }}</td>

              <td>
               
      
                <button type="button" class="btn btn-outline-success" (click)="editar(item)">Editar</button>
      
      
                <button type="button" class="btn btn-outline-danger" (click)="borrar(item)" >Eliminar</button> 
      
              </td>
            </tr>
          </tbody>
        </table>


</div>
