<div class="fondo">
    <form [formGroup]="formularioAltaCliente" >
      <h2>Registro  de nuevo Cliente</h2>
      
      <div class="mb-3">
        <label for="txtDni" class="form-label">Dni</label>
        <input type="text" class="form-control" id="txtDni"  formControlName="dni" />
        
        <span *ngIf="formularioAltaCliente.get('nombre')?.touched &&
         formularioAltaCliente.get('nombre')?.hasError('required')">
          * campo requerido 
        </span>
  
     
      </div>
  
      <div class="mb-3">
        <label for="txtNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="txtNombre" name="nombre" formControlName="nombre" />
        
        <span *ngIf="formularioAltaCliente.get('nombre')?.touched &&
        formularioAltaCliente.get('nombre')?.hasError('required')">
          * campo requerido 
        </span>
  
      </div>
  
      <div class="mb-3">
        <label for="txtTelefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="txtTelefono" name="telefono" formControlName="telefono"  />
  
        <span *ngIf="formularioAltaCliente.get('telefono')?.touched &&
         formularioAltaCliente.get('telefono')?.hasError('required')">
          * campo requerido 
        </span>
  
      </div>
  
  
       
      <div class="mb-3">
          <label for="txtDireccion" class="form-label">Direccion</label>
          <input type="text" class="form-control" id="txtDireccion" name="direccion" formControlName="direccion"/>
  
          <span *ngIf="formularioAltaCliente.get('direccion')?.touched &&
          formularioAltaCliente.get('direccion')?.hasError('required')">
           * campo requerido 
         </span>
  
        </div>
  
     
  
        <div class="mb-3">
          <label for="txtCorreo" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="txtCorreo" name="email" formControlName="email" />
  
          <span *ngIf="formularioAltaCliente.get('email')?.touched &&
          formularioAltaCliente.get('email')?.hasError('required')">
           * campo requerido 
         </span>
  
        </div>

        <div class="mb-3">
          <label for="txtCantidadPuntos" class="form-label">Cantidad Puntos</label>
          <input type="text" class="form-control" id="txtCantidadPuntos" name="cantidad_puntos" formControlName="cantidad_puntos" />
  
          <span *ngIf="formularioAltaCliente.get('cantidad_puntos')?.touched &&
          formularioAltaCliente.get('cantidad_puntos')?.hasError('required')">
           * campo requerido 
         </span>
  
        </div>
  
  
      
      <button type="button" class="btn btn-primary"  (click)="guardar()" [disabled]="formularioAltaCliente.invalid" >Guardar</button>
      <button type="button" class="btn btn-warning" (click)="volver()" >Volver</button>
  
      </form>
  </div>