.fondo{
    background-image: url("https://images7.alphacoders.com/820/thumbbig-820280.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}
form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin-right: 100px;
	background: #24303c;
    color: white;
    font-size: 13px;
}

button {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 13px;
    color: white;
  }