<div class="container">
    <form [formGroup]="formularioOrdenCompra" >
      <h2 class="text-center">Registrar Nueva Orden de Compra</h2>
      
        <div class="row">
            <div class="col-md-12">
                <label for="item">Proveedor</label>
                <select class="form-select" id="item" name="item" formControlName="proveedor">
                    <option *ngFor="let item of listaProveedores" [value]="item.id" > {{item.nombre}} </option>
                </select>  
                <br>
            </div>  
        </div>  
    <br>
   </form>
  </div>




  <div class="container">
    <form [formGroup]="formularioItemsOrdenCompra" >

        <div class="col-md-12">
            <label for="item">Producto</label>
            <select class="form-select" id="item" name="item" formControlName="producto">
                 <option *ngFor="let item of listaProductos" [value]="item.id" > {{item.descripcion}} </option>
            </select>  
        </div> 

        <div class="col-md-12">
            <label for="txtCantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="txtCantidad" name="cantidad" formControlName="cantidad" />
    
            <span *ngIf="formularioItemsOrdenCompra.get('cantidad')?.touched &&
            formularioItemsOrdenCompra.get('cantidad')?.hasError('required')">
            * Campo requerido 
          </span>
        </div>


    </form>
    <br>
    <button class="btn btn-primary" (click)="agregarItem()" [disabled]="formularioItemsOrdenCompra.invalid" >Agregar Ítem</button>
  </div>


  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaItems" >
            <td> {{item.producto.descripcion}} </td>
            <td> {{item.cantidad}} </td>
            <td> {{item.producto.precio_unitario_compra | number: '1.2'}} </td>
            <td> <button  class="btn btn-danger"  (click)="eliminarItemIndividual(item)" >Eliminar</button> </td>
          </tr>
        </tbody>
    </table>
  </div>
  

  <div class="container"  >
    <button type="button" class="btn btn-primary me-3"  (click)="guardar()" >Guardar</button>
    <button type="button" class="btn btn-warning" (click)="volver()" >Volver</button>
  </div>
