<!-- ==================== ORRDEN DE COMPRA GENERADA ====================== -->
<div *ngIf="banderaComprobante" >
  <div class="card-body" id="imprimir">
    <div class="container">
      <div class="col-md-12">
       <div class="text-sm-end">

          <p style="color: #7e8d9f;font-size: 20px;">Orden de Compra <strong>Nro: 0001-12345678</strong></p>
        </div>

    </div>
      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <i class="fab fa-mdb fa-4x ms-0" style="color:#93f3ee ;"></i>
            <h2 class="pt-0">Orden de Compra</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">Proveedor: <span style="color:#030303 ;">
                  {{ordenCompra.proveedor.nombre}}</span></li>
              <li class="text-muted"> Dirección: {{ordenCompra.proveedor.direccion}} </li>
              <li class="text-muted"> Condición Fiscal: Consumidor Final </li>
              <li class="text-muted"> Argentina</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <p class="text-muted">  <h3> La Bocha </h3>
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#93f3ee ;"></i> <span
                  class="fw-bold">CUIT:</span> 30-1111111111-3 </li>
                  <li class="text-muted"> Condición Fiscal: Responsable Inscripto </li>
              <li class="text-muted"><i class="fas fa-circle" style="color:#93f3ee;"></i> <span
                  class="fw-bold">Fecha: </span> {{formularioOrdenCompra.controls['fecha_emision'].value | date : "dd/MM/yyyy" }} </li>
             </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-striped table-borderless">
            <thead style="background-color:#8d8f8f ;" class="text-white">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Sub-Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaItems">
                <td> {{item.producto.descripcion}} </td>
                <td> {{item.cantidad}} </td>
                <td> {{item.producto.precio_unitario_compra | number:'1.2-2'}} </td>
                <td> {{item.producto.precio_unitario_compra! * item.cantidad | number:'1.2-2'}} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-xl-8">
          </div>
          <div class="col-xl-3">
             <p class="text-black float-start"><span class="text-black me-3"> Total: </span><span
                style="font-size: 25px;">$ {{monto_total | number:'1.2-2'}} </span></p>
          </div>
         </div>
        <hr>
        <div class="container">
        </div>
      </div>
    </div>   
  </div>

  <div class="container">
    <button class="btn btn-primary m-1 p-1"  (click)="descargarPdf()"  >Descargar PDF</button>
    <button type="button" class="btn btn-warning m-1 p-1" (click)="volver()" >Volver</button>
  </div>
</div>




<!-- =========================== FORMULARIO CARGA ======================== -->

<div class="container" *ngIf="banderaFormularioCarga" >
    <form [formGroup]="formularioOrdenCompra" >
      <h2 class="text-center">Registrar Nueva Orden de Compra</h2>
      
        <div class="row">
            <div class="col-md-12">
                <label for="item">Proveedor</label>
                <select class="form-select" id="item" name="item" formControlName="proveedor">
                    <option *ngFor="let item of listaProveedores" [value]="item.id" > {{item.nombre}} </option>
                </select>  
                <br>
            </div>  
        </div>  
    <br>
   </form>

  <div >
    <form [formGroup]="formularioItemsOrdenCompra" >

        <div class="col-md-12">
            <label for="item">Producto</label>
            <select class="form-select" id="item" name="item" formControlName="producto">
                 <option *ngFor="let item of listaProductos" [value]="item.id" > {{item.descripcion}} </option>
            </select>  
        </div> 

        <div class="col-md-12">
            <label for="txtCantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="txtCantidad" name="cantidad" formControlName="cantidad" />
    
            <span *ngIf="formularioItemsOrdenCompra.get('cantidad')?.touched &&
            formularioItemsOrdenCompra.get('cantidad')?.hasError('required')">
            * Campo requerido 
          </span>
        </div>


    </form>
    <br>
    <button class="btn btn-primary" (click)="agregarItem()" [disabled]="formularioItemsOrdenCompra.invalid" >Agregar Ítem</button>
  </div>


  <div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaItems" >
            <td> {{item.producto.descripcion}} </td>
            <td> {{item.cantidad}} </td>
            <td> {{item.producto.precio_unitario_compra | number: '1.2'}} </td>
            <td> <button  class="btn btn-danger"  (click)="eliminarItemIndividual(item)" >Eliminar</button> </td>
          </tr>
        </tbody>
      </table>
      <div class="container text-end" >
        <div class="row">
    
          <div class="col-7">
    
          </div>
    
          <div class="col-3">
             <strong>Monto Total:  </strong> {{monto_total | currency: '$ '}}
          </div>
    
          <div class="col-2">
    
          </div>
    
        </div>
      </div>
  </div>
  

  <div class="container"  >
    <button type="button" class="btn btn-primary me-3"  (click)="guardar()" >Guardar</button>
    <button type="button" class="btn btn-warning" (click)="volver()" >Volver</button>
  </div>
</div>