<div class="container">
    <h2>Buscar Cliente</h2>

    <!-- ============ SECCION BUSCAR ============== -->
    <form class="form-control">
    
        <input  class="form-control"  type="search"  placeholder="Buscar proveedor" aria-label="Search" name="valorBusqueda" [(ngModel)]="valorBusqueda" />      
        <button type="button" (click)="buscarClientePorNombre()">buscar</button>

    </form>


    <!-- =============SECCION LISTADO ====================== -->
    <div class="container">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">Dni</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Email</th>
                <th scope="col">Cantidad Puntos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listaCliente">
                <td>{{ item.dni }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.telefono }}</td>
                <td>{{ item.direccion}}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.cantidad_puntos}}</td>
                <td>
                    <button type="button" class="btn btn-outline-danger" (click)="eliminarCliente(item)">Eliminar</button>
                    <button type="button" class="btn btn-outline-success" (click)="elegirCliente(item)">Editar</button>
                </td>
            </tr>
        </tbody>
        </table>    
    </div>


    <!-- ================ FORMULARIO MODIFICAR ================ -->

<div class="container"  *ngIf="banderaFormularioEdicion">
    <form>
  
      <div class="mb-3">
        <label for="txtDescripcion" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="txtDescripcion" name="nombre" [(ngModel)]="clienteSeleccionado.nombre">
      </div>
  
      <div class="mb-3">
        <label for="txtTelefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="txtTelefono" name="telefono" [(ngModel)]="clienteSeleccionado.telefono">
      </div>
  
      <div class="mb-3">
        <label for="txtDireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="txtPrecio" name="direccion" [(ngModel)]="clienteSeleccionado.direccion">
      </div>
  
      <div class="mb-3">
        <label for="txtEmail" class="form-label">Email</label>
        <input type="text" class="form-control" id="txtEmail" name="email" [(ngModel)]="clienteSeleccionado.email" >
      </div>
  
      <div class="mb-3">
        <label for="txtCantidadPuntos" class="form-label">Cantidad Puntos</label>
        <input type="text" class="form-control" id="txtCantidadPuntos" name="fecha_inicio" [(ngModel)]="clienteSeleccionado.cantidad_puntos">
      </div>
  
      <button type="button" class="btn btn-primary" (click)="modificarDesdeFormulario()" >Modificar</button>
    </form>
  </div>
  



</div>