<div class="container">
  <h2 class="text-center">Búsqueda de Orden de Compra</h2>


    <!-- ============ SECCION BUSCAR ============== -->
    <form class="form-control">
      <div class="row">
        <div class="col-md-9">
          <input  class="form-control"  type="search"  placeholder="Introduzca lo que desea buscar" aria-label="Search" name="valorBusqueda" [formControl]="valorBusqueda" />      
          <!-- <input  class="form-control"  type="search"  placeholder="Introduzca el nombre del producto" aria-label="Search" name="valorBusqueda" [(ngModel)]="valorBusqueda" />       -->
        </div>
        
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-primary"(click)="buscarOrdenCompra()">Buscar</button>
        </div>
      </div>
      </form>
</div>


<!-- ====================== SECCION LISTADO COMPLETO ================== -->
<div class="container" *ngIf="banderaListadoCompleto" >
    <div id="imprimir">
      <h2 class="text-center">Listado de Compras</h2>
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha Emisión</th>
            <th scope="col">Fecha Vencimiento</th>
            <th scope="col">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaOrdenesCompra | paginate: { itemsPerPage: 10,currentPage: p }" >
            <td> {{item.proveedor.nombre}} </td>
            <td> {{item.fecha_emision}} </td>
            <td> {{item.fecha_fin}} </td>
            <td> {{item.monto_total}}</td> 
          </tr>
      </table>
    </div>
      <pagination-controls (pageChange)="p = $event" previousLabel="Previa" nextLabel="Siguiente"></pagination-controls>
      <button class="btn btn-primary" (click)="exportarPdf()">Exportar a PDF</button>

</div>



<!-- ==================== SECCION LISTADO BUSCADO =============== -->
<div class="container" *ngIf="banderaListadoBusqueda" >
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">Fecha Emision</th>
          <th scope="col">Fecha Vencimiento</th>
          <th scope="col">Monto Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaOrdenesCompraBuscada | paginate: { itemsPerPage: 5,currentPage: p }" >
          <td> {{item.proveedor.nombre}} </td>
          <td> {{item.fecha_emision}} </td>
          <td> {{item.fecha_fin}} </td>
          <td> {{item.monto_total}}</td> 
        </tr>
    </table>
    <pagination-controls (pageChange)="p = $event" previousLabel="Previa" nextLabel="Siguiente"></pagination-controls>
</div>
