<div class="container">
    <h2 class="text-center">Buscar Producto</h2>

    <!-- ============ SECCION BUSCAR ============== -->
    <form class="form-control">
    <div class="row">
      <div class="col-md-9">
        <input  class="form-control"  type="search"  placeholder="Introduzca lo que desea buscar" aria-label="Search" name="valorBusqueda" [(ngModel)] ="valorBuscado" />      
      </div>
      
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary m-1 p-1" (click)="buscarProductoPorNombre()">Buscar</button>
      </div>
    </div>
    </form>


    <!-- =============SECCION LISTADO BUSQUEDA ====================== -->
    <div class="container" *ngIf="banderaListadoBusqueda">
      <h2 class="text-center">Listado Búsqueda</h2>
        <table class="table">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Tipo Producto</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Precio Compra</th>
                <th>Accción </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listadoBuscado | paginate: { itemsPerPage: 10,currentPage: p }">
                <td>{{ item.codigo_barra }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.tipoProducto.tipo }}</td>
                <td>{{ item.precio_unitario_venta | number:'1.2-2' }}</td>
                <td>{{ item.precio_unitario_compra  | number:'1.2-2'}}</td>
                <td>
                  <button type="button" class="btn btn-success m-1 p-1" (click)="editarProducto(item)">Editar</button>
                  <button type="button" class="btn btn-danger m-1 p-1" (click)="eliminarProducto(item)">Eliminar</button>
                </td>
            </tr>
        </tbody>
        </table>
          <!-- https://www.youtube.com/watch?v=3KIez1oRi2Q&list=LL&index=3 -->
  <pagination-controls (pageChange)="p = $event" previousLabel="Previa" nextLabel="Siguiente"></pagination-controls>    
    </div>


    <!-- ================ FORMULARIO MODIFICAR ================ -->

<div class="container"  *ngIf="banderaFormularioEdicion">
  <h2 class="text-center" >Modificar Producto</h2>

  <form [formGroup]="formularioModicacionProducto" >

    <div class="row">  
        <!-- <div class="col-md-6">
            <label for="txtCodigo" class="form-label">Código Barra</label>
            <input type="number" class="form-control" id="txtCodigo"  formControlName="codigo_barra"  readonly/>
            
            <span *ngIf="getCodigoBarra.errors?.['nombreExists']" >Código barra ya usado, intente con otro</span>

            <span *ngIf="formularioModicacionProducto.get('codigo')?.touched &&
            formularioModicacionProducto.get('codigo')?.hasError('required')">
            * Campo requerido 
            </span>     
        </div> -->
    

        <div class="col-md-12">
            <label for="txtDescripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="txtDescripcion" name="descripcion" formControlName="descripcion" disable />
            
            <span *ngIf="getDescripcion.errors?.['nombreExists']" >Descripción ya usada, intente con otra</span>

            <span *ngIf="formularioModicacionProducto.get('descripcion')?.touched &&
            formularioModicacionProducto.get('descripcion')?.hasError('required')">
            * Campo requerido 
            </span>  
        </div>
    </div>

<br>
    <div class="row">
      <div class="col-md-6">
        Tipo Producto
        <select class="form-select" name="item" formControlName="tipoProducto">
          <option *ngFor="let item of listaTipoProducto" [value]="item.id" > {{item.tipo}} </option>
        </select>  
      </div>

      <div class="col-md-6">
        <label for="item">Marca</label>
        <select class="form-select" id="item" name="item" formControlName="marca">
          <option *ngFor="let item of listaMarca" [value]="item.id" > {{item.nombre}} </option>
        </select>  
      </div>
    </div>
  <br>
      <div class="row">
       
        <div class="col-md-6">
                <label for="txtPrecioVenta" class="form-label">Precio Venta</label>
                <input type="number" class="form-control" id="txtPrecioVenta" name="precio_unitario_venta" formControlName="precio_unitario_venta"/>
        
                <span *ngIf="formularioModicacionProducto.get('precio_unitario_venta')?.touched &&
                formularioModicacionProducto.get('precio_unitario_venta')?.hasError('required')">
                * Campo requerido 
                </span>        
        </div>    
            
        
        <div class="col-md-6">
                <label for="txtPrecioCompra" class="form-label">Precio Compra</label>
                <input type="number" class="form-control" id="txtCorreo" name="precio_unitario_compra" formControlName="precio_unitario_compra" />
        
                <span *ngIf="formularioModicacionProducto.get('precio_unitario_compra')?.touched &&
                formularioModicacionProducto.get('precio_unitario_compra')?.hasError('required')">
                * Campo requerido 
                </span>
            </div>
        </div>
  <br>
      
      <button type="button" class="btn btn-primary m-1 p-1"  (click)="modificarDesdeFormulario()" [disabled]="formularioModicacionProducto.invalid" >Guardar</button>
      <button type="button" class="btn btn-warning m-1 p-1" (click)="volver()" >Volver</button>
    </form>
  </div>

<!-- =============SECCION LISTADO COMPLETO ====================== -->
<div class="container" *ngIf="banderaListadoCompleto">
  <br>
  <h2 class="text-center">Listado Completo</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Tipo Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio Venta</th>
        <th scope="col">Precio Compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listadoProductosOriginal | paginate: { itemsPerPage: 10,currentPage: p }">
        <td>{{ item.codigo_barra }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.tipoProducto.tipo }}</td>
        <td>{{ item.marca.nombre }}</td>
        <td>{{ item.precio_unitario_venta  | number:'1.2-2' }}</td>
        <td>{{ item.precio_unitario_compra   | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>

  <!-- https://www.youtube.com/watch?v=3KIez1oRi2Q&list=LL&index=3 -->
  <pagination-controls (pageChange)="p = $event" previousLabel="Previa" nextLabel="Siguiente"></pagination-controls>

</div>