

<div class="container">
    <h2>Buscar de Producto</h2>

    <!-- ============ SECCION BUSCAR ============== -->
    <form class="form-control">
    
        <input  class="form-control"  type="search"  placeholder="Buscar producto" aria-label="Search" name="valorBusqueda" [(ngModel)]="valorBuscado" />      
        <br>
        <button type="button" class="btn btn-primary" (click)="buscarProductoPorNombre()">buscar</button>

    </form>


    <!-- =============SECCION LISTADO BUSQUEDA ====================== -->
    <div class="container" *ngIf="banderaListadoBusqueda">
      <h2 class="text-center">Listado Búsqueda</h2>
        <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Tipo Producto</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Precio Compra</th>
                <th>Acccion </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listadoBuscado">
                <td>{{ item.codigo }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.tipoProducto.tipo }}</td>
                <td>{{ item.precio_unitario_venta }}</td>
                <td>{{ item.precio_unitario_compra}}</td>
                <td>
                  <button type="button" class="btn btn-success" (click)="editarProducto(item)">Editar</button>
                  <!-- <button type="button" class="btn btn-danger" (click)="eliminarCliente(item)">Eliminar</button> -->
                </td>
            </tr>
        </tbody>
        </table>    
    </div>


    <!-- ================ FORMULARIO MODIFICAR ================ -->

<div class="container"  *ngIf="banderaFormularioEdicion">
  <h2 class="text-center" >Modificar Producto</h2>

  <form [formGroup]="formularioModicacionProducto" >

    <div class="row">  
        <div class="col-md-6">
            <label for="txtCodigo" class="form-label">Codigo</label>
            <input type="number" class="form-control" id="txtCodigo"  formControlName="codigo" />
            
            <span *ngIf="formularioModicacionProducto.get('codigo')?.touched &&
            formularioModicacionProducto.get('codigo')?.hasError('required')">
            * campo requerido 
            </span>     
        </div>
    

        <div class="col-md-6">
            <label for="txtDescripcion" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="txtDescripcion" name="nombre_apellido" formControlName="descripcion" />
            
            <span *ngIf="formularioModicacionProducto.get('descripcion')?.touched &&
            formularioModicacionProducto.get('descripcion')?.hasError('required')">
            * campo requerido 
            </span>  
        </div>
    </div>

<br>
      <div class="col-12">
        Seleccionar el tipo producto
        <select class="form-select" name="item" formControlName="tipoProducto">
          <option *ngFor="let item of listaTipoProducto" [value]="item.id" > {{item.tipo}} </option>
        </select>  
      </div>
  
  <br>
      <div class="row">
       
        <div class="col-md-6">
                <label for="txtPrecioVenta" class="form-label">Precio Venta</label>
                <input type="number" class="form-control" id="txtPrecioVenta" name="precio_unitario_venta" formControlName="precio_unitario_venta"/>
        
                <span *ngIf="formularioModicacionProducto.get('precio_unitario_venta')?.touched &&
                formularioModicacionProducto.get('precio_unitario_venta')?.hasError('required')">
                * campo requerido 
                </span>        
        </div>
        

            
        
        <div class="col-md-6">
                <label for="txtPrecioCompra" class="form-label">Precio Compra</label>
                <input type="number" class="form-control" id="txtCorreo" name="precio_unitario_compra" formControlName="precio_unitario_compra" />
        
                <span *ngIf="formularioModicacionProducto.get('precio_unitario_compra')?.touched &&
                formularioModicacionProducto.get('precio_unitario_compra')?.hasError('required')">
                * campo requerido 
                </span>
            </div>
        </div>
  <br>
      
      <button type="button" class="btn btn-primary"  (click)="guardar()" [disabled]="formularioModicacionProducto.invalid" >Guardar</button>
      <button type="button" class="btn btn-warning" (click)="volver()" >Volver</button>
    </form>
  </div>

<!-- =============SECCION LISTADO COMPLETO ====================== -->
<div class="container" *ngIf="banderaListadoCompleto">
  <br>
  <h2 class="text-center">Listado Completo</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Tipo Producto</th>
        <th scope="col">Precio Venta</th>
        <th scope="col">Precio Compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listadoProductosOriginal">
        <td>{{ item.codigo }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.tipoProducto.tipo }}</td>
        <td>{{ item.precio_unitario_venta }}</td>
        <td>{{ item.precio_unitario_compra}}</td>
      </tr>
    </tbody>
  </table>


</div>