.fondo{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-comunicacion-global-diseno-redes-empresariales_53876-160238.jpg?w=1060&t=st=1667080473~exp=1667081073~hmac=9592102f9d38f94c2cb15755150fc6b354dddf56013ad15977a7f6417a7391ea");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}
form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin-right: 100px;
	background: transparent;
    color: white;
    font-size: 13px;
}

button {
    width: 60px;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 13px;
    color: white;
  }