.fondo{
    background-image: url("https://img.freepik.com/foto-gratis/fondo-comunicacion-global-diseno-redes-empresariales_53876-160238.jpg?w=1060&t=st=1667080473~exp=1667081073~hmac=9592102f9d38f94c2cb15755150fc6b354dddf56013ad15977a7f6417a7391ea");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}