
  <div class="container">
  <h2 class="text-center">Búsqueda de Proveedor</h2>


  <!-- ============ SECCION BUSCAR ============== -->
  <form class="form-control">
    <div class="row">
      <div class="col-md-9">
        <input  class="form-control"  type="search"  placeholder="Introduzca el nombre del producto" aria-label="Search" name="valorBusqueda" [(ngModel)]="valorBusqueda" />      
      </div>
      
      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary"(click)="buscarProveedorPorNombre()">Buscar</button>
      </div>
    </div>
    </form>



<!-- =============SECCION LISTADO BUSCADO ====================== -->
<div class="container" *ngIf="banderaListadoBuscado">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cuit</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Código Postal</th>
        <th scope="col">Email</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaProveedorBuscado">
        <td>{{ item.nombre }}</td>
        <td>{{ item.cuit }}</td>
        <td>{{ item.telefono }}</td>
        <td>{{ item.direccion }}</td>
        <td>{{ item.codigo_postal }}</td>
        <td>{{ item.email }}</td>
        <td>
         
          <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="borrar(item)" >Eliminar</button> 

        </td>
      </tr>
    </tbody>
  </table>

</div>



<!-- ========== MODIFICAR ================== -->
      <div class="container" *ngIf="mostrarFormulario">
        <form [formGroup]="formularioModificarProveedor" >
          <h2 class="text-center">Modificar Proveedor</h2>
        
          <!-- ========== PRIMEROS DOS ============ -->
        <div class="row">
            <div class="col-md-6"> 
              <label for="txtNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="txtNombre" formControlName="nombre" name="nombre" [(ngModel)]="proveedor.nombre"/>
            
              <span *ngIf="formularioModificarProveedor.get('nombre')?.touched 
                && formularioModificarProveedor.get('nombre')?.hasError('pattern')">
                * campo requerido,  solo puede ingresar letras y/o espacios
              </span>
            </div>

            <div class="col-md-6"> 
              <label for="txtCuit" class="form-label">Cuit</label>
              <input type="text" class="form-control" id="txtCuit"  formControlName="cuit" name="cuit" [(ngModel)]="proveedor.cuit"/>
              
              <span *ngIf="formularioModificarProveedor.get('cuit')?.touched 
                && formularioModificarProveedor.get('cuit')?.hasError('pattern')">
                * campo requerido y solo numerico de 11 digitos
              </span>
            </div>
        </div>

        <!-- ============ SEGUNDOS DOS ============= -->
        <div class="row">
          <div class="col-md-6">
            <label for="txtTelefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="txtTelefono" formControlName="telefono" name="telefono"  [(ngModel)]="proveedor.telefono" />

            <span *ngIf="formularioModificarProveedor.get('telefono')?.touched 
              && formularioModificarProveedor.get('telefono')?.hasError('pattern')">
              * campo requerido  y solo numérico de 7 digitos
            </span>
          </div>

          <div class="col-md-6">
              <label for="txtDireccion" class="form-label">Dirección</label>
              <input type="text" class="form-control" id="txtDireccion"  formControlName="direccion" name="direccion" [(ngModel)]="proveedor.direccion"/>

              <span *ngIf="formularioModificarProveedor.get('direccion')?.touched &&
              formularioModificarProveedor.get('direccion')?.hasError('pattern')">
              * campo requerido digitos y letras solamente
              </span>
            </div>
        </div>    

        <!-- ============= TERCEROS DOS ============ -->
        <div class="row">
          <div class="col-md-6">
            <label for="txtCodigoPostal" class="form-label">Código Postal</label>
            <input type="text" class="form-control" id="txtCodigoPostal"  formControlName="codigo_postal" name="codigo_postal" [(ngModel)]="proveedor.codigo_postal" />

            <span *ngIf="formularioModificarProveedor.get('codigo_postal')?.touched 
            && formularioModificarProveedor.get('codigo_postal')?.hasError('pattern')">
            * campo requerido solo 4 dígitos
            </span>
          </div>

          <div class="col-md-6">
            <label for="txtCorreo" class="form-label">Correo electrónico</label>
            <input type="text" class="form-control" id="txtCorreo"  formControlName="email" name="email" [(ngModel)]="proveedor.email" />

            <span *ngIf="formularioModificarProveedor.get('email')?.touched &&
            formularioModificarProveedor.get('email')?.hasError('email')">
            * campo requerido formato email
            </span>
          </div>
        </div>

        <br>
        <button type="button" class="btn btn-primary"  (click)="modificar()" [disabled]="formularioModificarProveedor.invalid" >Guardar</button>
        <button type="button" class="btn btn-warning" (click)="cancelar()">Volver</button>
        </form>
      </div>

<!-- =============SECCION LISTADO COMPLETO ====================== -->
<div class="container" *ngIf="banderaListadoCompleto">
  <br>
  <h2 class="text-center">Listado Completo</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cuit</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Código Postal</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaProveedorCompleta">
        <td>{{ item.nombre }}</td>
        <td>{{ item.cuit }}</td>
        <td>{{ item.telefono }}</td>
         <td>{{ item.direccion }}</td>
        <td>{{ item.codigo_postal }}</td>
        <td>{{ item.email }}</td>

       
      </tr>
    </tbody>
  </table>
  </div>


