<br>
<div class="container">
    <br>
    <h2 class="text-center">Reporte de Venta por Cliente</h2>
    <br>
    <div class="row">
        <div class="col-md-3">
            <label for="fecha1">Fecha desde:</label>
            <input type="date" placeholder="Datepicker" name="fecha1" id="fecha1" [(ngModel)]="fecha1">
        </div>
       
        <div class="col-md-3">
            <label for="fecha2">Fecha hasta:  </label>
            <input type="date" placeholder="Datepicker" name="fecha2" id="fecha2" [(ngModel)]="fecha2">
        </div>

        <div class="col-md-3">
            <label for="item">Cliente</label>
             <select class="form-select" id="item" name="item" [formControl]="cliente">
                <option *ngFor="let item of listadoClientes" [value]="item.id" > {{item.nombre_apellido}} </option>
            </select>  
            <br>
        </div>  

      </div>
    <br>
    <button type="button" class="btn btn-primary me-3"  (click)="obtenerReporteVenta()" >Mostrar Gráfico</button>

    </div>


<br>


    
    <div *ngIf="banderaMostrarGrafico" >
        <div class="container" id="imprimir">  
            <br>
            <h2 class="text-center">Ventas efectuadas al Cliente: {{clienteSeleccionado.nombre_apellido}}</h2>
            <div class="row">

                <div class="col-md-8">
                    <div id="uno" class="text-center">
                        <div class="col-lg-12">
                            <canvas id="piechart"></canvas>
                        </div>
                    </div>   
                </div>
            
                <div class="col-md-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of chartdata | paginate: { itemsPerPage: 10,currentPage: p }" >
                            <td> {{item.fecha}} </td>
                            <td> {{item.monto}} </td>
                        </tr>        
                    </table>

                    <pagination-controls (pageChange)="p = $event" previousLabel="Previa" nextLabel="Siguiente"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="container">
            <br>
            <button class="btn btn-primary" (click)="descargarPdf()">Descargar Pdf</button>
        </div>
    </div>

