<div class="container">
    <div>
        <label for="fecha1">Fecha desde</label>
        <input type="date" placeholder="Datepicker" name="fecha1" id="fecha1" [(ngModel)]="fecha1">
    </div>

    <div>
        <label for="fecha2">Fecha hasta</label>
        <input type="date" placeholder="Datepicker" name="fecha2" id="fecha2" [(ngModel)]="fecha2">
    </div>

</div>
<button (click)="obtenerReporteVenta()" >obtener</button>

<!-- 
<canvas baseChart type="bar" [data]="datos">
</canvas> -->


<div class="row">
    <div class="col-lg-6">
        <h2>Bubble Chart</h2>
        <canvas id="bubchart"></canvas>
    </div>
    <div class="col-lg-6">
        <h2>Scatter Chart</h2>
        <canvas id="scchart"></canvas>
    </div>
    <div class="col-lg-6">
        <h2>Bar Chart</h2>
        <canvas id="barchart"></canvas>
    </div>
    <div class="col-lg-6">
        <h2>Pie Chart</h2>
        <canvas id="piechart"></canvas>
    </div>
    <div class="col-lg-6">
        <h2>Doughnut Chart</h2>
        <canvas id="dochart"></canvas>
    </div>
    <div class="col-lg-6">
        <h2>polarArea Chart</h2>
        <canvas id="pochart"></canvas>
    </div>

    <div class="col-lg-6">
        <h2>Radar Chart</h2>
        <canvas id="rochart"></canvas>
    </div>

    

    
</div>